[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FAS"]
	path = FAS
	url = https://github.com/jstriaukas/fas
[submodule "LassoNet"]
	path = LassoNet
	url = https://github.com/cran/LassoNet
[submodule "midasml"]
	path = midasml
	url = https://github.com/jstriaukas/midasml
